@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,400;1,500&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

/* css variables */
:root {
    --main-bg-color: #6e6969;
    --main-color: #000;
    --secondary-color: #fff;
    --main-color-hover: #7a7777;
    --item-link-color: #0067b8;
}

body{
    color: var(--main-color);;
    font-family: 'Fira Sans', sans-serif;
}

a,li{
    text-decoration: none;
    list-style: none;
    color: var(--secondary-color);
}
a:hover i{
    margin-left: 5px;
}
ul{
    display: 10px;
    padding: 10px;
    list-style: none;
    text-align: center;
}

.btn{
    cursor: pointer;
    display: inline-block;
    padding: 12px;
    background: #6e6969;
    color: var(--secondary-color);
    font-size: 15px;
    cursor: pointer;
}
.btn:hover{
    opacity: 0.6;
}
.btn:hover i{
    margin-left: 8px;

}
.item-btn{
        display: inline-block;
        padding-bottom: 10px;
        color: var(--item-link-color);
        font-weight: bold;
        cursor: pointer;
    }
    
/* side nav button */
.side-nav-btn{
    cursor:pointer;
    position: absolute;/* this kicks the side-menu out of everything else(out of the container)*/
 
    right:8px ;
    top: 22px;
    z-index: 2; 
}
.side-btn{
   color: var(--secondary-color);
}

.main-nav{
    display: flex;
    align-items: center;
    background-color:var(--main-bg-color);
    color: var(--secondary-color);
    height: 70px;
    padding: 20px;
    font-size: 1.2em;
    justify-content: space-between;
    margin: 0 auto;
}
.logo{
    font-size: 1.5em;
    font-weight: bold;
    color: var(--secondary-color);
}   
 .main-menu{
     position: absolute;
     top: 0;
     right: 0;
     background-color: #fff;
     width: 300px;
    height: 100vh;
     margin: 0.2em auto;
     transition: all 0.9s ease-in-out;
     display: none;
 }
 
    .main-menu-list{
        display: grid;
        grid-gap: 0.8em;
        margin-top: 4em;
    }
.main-menu-list li{
   padding: 20px;
   justify-content: flex-start;
  }

 .main-menu-list li a:hover{
    padding: 8px;
    background-color: var(--main-bg-color);
    border-radius: 10px;
    font-size: 1.3em;
}
.list-btn{
    color: var(--main-color);
}

 
  .container{
    width: 80%;
    max-width: 1400px;
    margin: 0 auto;
} 
/*showcase*/
.showcase{
background: url(../images/showcase.jpeg);
height: 270px;
width: 100%;
color: var(--secondary-color);
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-end;
background-size: cover;
padding:2em;
margin-bottom: 1em;


}

.showcase-text{
    text-align: center;
    padding: 0.5em;
    font-size: 1.5em;
    margin-bottom: 0.5em;
}
.showcase .btn{
    margin-top: 2;
    padding: 0.8em;
}

/*cards*/
.homecards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    margin-bottom: 1em;
}

/* making sure the img does not get out of container.pictures will look better ounce I get pics of simillar sizes*/
.homecards img{
    width: 100%;
    margin-bottom: 1em;
    height: 15em;  
    object-fit: cover;
}
.homecards h3{
margin-bottom: 0.5em;

}


.cards{
    background: #ffffff;
    border-style: solid 0.5em;
}
.cards p{
    font-size: 1.2em;
    padding-bottom: 0.3em;
}
.cards h3, p, a{
    padding-left: 1em; 
}


/*social*/
.social{
background: #201b47f2;
color: #f8f5f5;
font-size: 12px;
padding: 10px;
}
.inner-social{
    max-width: 60%;
    margin: 0 auto;
    padding: 0 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #f8f5f5;
}
.social-title{
    font-size: 1.6em;
    padding-bottom: 0.3em;
    align-self: center;
}
.social-icons{
    display: flex;
    justify-content: space-between;
}
.social-icons a{
    font-size: 1.5em;
    padding: 0.5em;
    color: #f8f5f5;
}

/*footer links*/
.main-info{
    background: #201b47f2;
    color: #f8f5f5;
    font-size: 15px;
    padding: 10px;
}
.inner-info{
max-width: 60%;
    margin: 0 auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns:repeat(2, 2fr);
    grid-gap: 10px;
    align-items: flex-start;
    justify-content: center;
}
 .inner-info{
     line-height: 1.8em;
 }
  .info p{
     padding-bottom: 1em;
     font-size: 1em;
 }
  .info a{
     color: #f8f5f5;
 }
.inner-info  h3{
    font-size: 1.2em;
    padding-bottom: 0.5em;
}

/*footer*/
.footer{
    background: #201b47f2;
    color: #f8f5f5;
    font-size: 12px;
    padding: 20px 0;
}
.footer a{
    color: #f8f5f5;
}

.footer-inner{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer div{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.footer div i{
    margin-right: 10px;
}

.footer ul{
    display: flex;
    flex-wrap: wrap;
}
.footer li{
    margin-right: 30px;
    margin-bottom: 20px;
}



/* for screens less 950pc*/
@media screen and (max-width:950px){
    .homecards{
        grid-template-columns: repeat(2, 1fr);
    }
    
    .side-nav-btn{
        display: block;
    }
    .side-nav-btn :hover{
        opacity: 0.6;
    }
    .right-menu{
        margin-right: 35px;
    }

    /*for the side nav*/
    .main-nav ul.main-menu, .fas fa-shopping-cart, .fas fa-user-plus {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: #ffffff;
        width: 40%;
        height: 100%;
        border-right:#ccc 1px solid;
        opacity: 0.8;
        padding: 30;
        transform: translate(-500px);
        transition: transform  1.2s ease-in-out;
    }

}


/* for screens less 650pc*/
@media(max-width:650px){
    .homecards{
        grid-template-columns: repeat(1,1fr);
    }
    .inner-info{
        grid-template-columns: repeat(1,1fr);
    }
}